@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background: white;
  color: #111827;
  outline: none;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #ca8a04;
}

button {
  cursor: pointer;
}

section {
  padding: 80px 20px;
}